<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Volumes/Data 1/UMich Academics/Soph - 1st sem/EECS final proj/iOS_4_repository-master-8/StyleAdvisor/StyleAdvisor.xcodeproj</string>
</dict>
</plist>
